<!-- <nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a routerLink="/contact" >contact</a></li>
    </ul>
</nav> -->


<div class="side-nav">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">Home</a>
    </li>
   
    <li class="nav-item">
      <a class="nav-link" href="https://formsubmit.co/el/fikumo" target="_blank">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/crud">Customer Information</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/currency">Currency Exchange</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/jsconcept">Java script Concept</a>
    </li>
  </ul>
</div>
  
