
.login-container {
    width: 300px;
    margin-top: 150px;
    margin-left: 470px;
 
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
  }
  
  .login-container input[type="text"],
  .login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .login-container input[type="submit"]:hover {
    background-color: #45a049;
  }

  body{
    position: absolute;
    width: 100%;
  
    height: 600px;
    
    background-color: #4CAF50;

    background-image: url('https://t4.ftcdn.net/jpg/01/19/11/55/360_F_119115529_mEnw3lGpLdlDkfLgRcVSbFRuVl6sMDty.jpg');
  }
  